In [1]:
import pandas as pd

series = pd.Series([1,2,3,4])

print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'], index=['x','y'])
df

   a  b  c
x  1  2  3
y  4  5  6

In [3]:
df = pd.DataFrame({'a': [1,2,3], 'b' : [4,5,6]})

df

   a  b
0  1  4
1  2  5
2  3  6

In [5]:
data = pd.read_csv('./obesity_prediction.csv')

data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [8]:
data.loc[(data['Weight'] < 50) & (data['Gender'] == 'Male')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
302,Male,16.0,1.84,45.0,yes,yes,3.0,3.0,Always,no,3.0,no,3.0,2.0,Sometimes,Walking,Insufficient_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight